<!-- base.tmpl -->
<form action="content" method="get">
<div>
<input type="text" size="80" name="input" id="input" />
<input type="submit" value="Search" />
<input type="reset" />
</div>
</form>
<!-- end of base.tmpl -->
