recursive-include pyquerybuilder/web/templates *.tmpl
recursive-include pyquerybuilder/web/css *.css
recursive-include pyquerybuilder/web/js *.js
recursive-include doc *
recursive-include bin *
recursive-include pyquerybuilder/config/ *
